{{#foreach posts}}
    <article class="{{post_class}} list">
            <h1 class="post__title"><a href="{{url}}">{{{title}}}</a></h1>
            <section class="post__meta">
                <p>Posted on <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}} 

            </section>
        <section class="post__excerpt">
            <p>{{excerpt words="35"}}...<br>
             <a class="read-more" href="{{url}}">Read More &rsaquo;</a> </p>
        </section>
    </article>
    <hr>
{{/foreach}}
{{#if pagination.prev}}
  {{pagination}}
{{else}}
{{#if pagination.next}}
{{pagination}}
{{/if}}
{{/if}}