<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="google-site-verification" content="T74N45nDZ-ESOx7tKtzhpXN1devWQy-s6q1wnLWNIM0" />
    <meta name="msvalidate.01" content="A23DA3B6777EDB752FB537E8C4F58BBB" />
    <meta name="alexaVerifyID" content="E6OE6J2zhiVWMW6fuBl5Vg4dEXo"/>

    {{>google-analytics}}

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100italic,100,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />


    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <!--[if lt IE 7]>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
        <header class="clearfix">
            <a href="/" class="header__logo">{{@blog.title}}<br><span>Excerpts from a sysadmin's journal</a>
            <nav class="header_nav">
                {{navigation}}
            </nav>
       
        </header>
        <div class="col_8">
             {{{body}}}
        </div>
        <aside class="col_4">
	    <div class="widget socials clearfix">
                <ul>
                    <li> <a href="https://twitter.com/IshSookun" target="_blank" class='symbol'>circletwitterbird</a></li>
                    <li> <a href="https://www.facebook.com/ish.sookun" target="_blank" class='symbol'>circlefacebook</a></li>
                    <li> <a href="https://instagram.com/ishwon" target="_blank" class='symbol'>circleinstagram</a></li>
                    <li> <a href="http://google.com/+IshSookun" target="_blank" class='symbol'>circlegoogleplus</a></li>
                    <li> <a href="https://github.com/ishwon" target="_blank" class='symbol'>circlegithubalt</a></li>
                    <li> <a href="https://mu.linkedin.com/in/ishsookun" target="_blank" class='symbol'>circlelinkedin</a></li>
                </ul>
            </div>
	    
	    <center>{{>adsense-sidebar}}</center>
	    <br />
            <div class="widget">
	    <a class="twitter-timeline" href="https://twitter.com/IshSookun" data-widget-id="463948869953265664">Tweets by @IshSookun</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </aside>
    </div>
    <footer class="footer clearfix">
	        Made out of curiosity while learning Node.js and Ghost
                <section class="copyright"><a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">DefaultValues.io</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://hacklog.in/about" property="cc:attributionName" rel="cc:attributionURL" target="_blank">Ish Sookun</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a> <br>
                Theme by <a href="http://echdee.me" target="_blank">Humeira Diljore</a>
                </section>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/script.js"}}"></script>

</body>
</html>
