{{!< default}}

{{#post}}
{{>facebook-comment}}


<main class="content" role="main">
    <article class="{{post_class}}">

              <h1 class="post__title">{{title}}</h1>
             <section class="post__meta">
                <p>Posted by {{#primary_author}}<a href="{{url}}">{{name}}</a>{{/primary_author}} on <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}} 
            </section>
            <section class="post-content">
                {{content}}
            </section>
        <section class="socials">
          <hr>
             <h4>Share this post</h4>

             <ul>
                <li><a class="symbol" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">circletwitterbird</a></li>
                <li><a class="symbol" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">circlefacebook</a></li>
                             </ul>
     
	     <div class="fb-comments" data-href="https://sysadmin-journal.com{{url}}" data-numposts="10" width="100%"></div>
        </section>
    </article>
</main>


{{/post}}
